$main-color = #b50062
$gradient-color-1 = #bc0066
$gradient-color-2 = #b50062
$main-font = Helvetica, -apple-system, BlinkMacSystemFont, "Segoe UI", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"

// work around a tachyon / chrome spat
* b, * strong {font-weight: bold;}  

@import "partial/_base.styl"
@import "partial/_content.styl"
@import "partial/_highlight.styl"